# ide files
/Index/.idea
/Index/yazzzam.iml
/Index/src/main/java/uk/ac/ed/yazzzam/yazzzam.iml
/Index/src/main/java/uk/ac/ed/yazzzam/.idea

# temp build files
/Index/index
/Index/target


#resources
/Index/src/main/resources

#logs
Index/hs_*
